body{

background:#BCB8B8;

font-family:Arial, Helvetica, sans-serif;

}

.main-title{

color:mediumseagreen;

text-align:center;

font-weight:bold;

margin-bottom:30px;

}

.container{

background:#edf2f7;

padding:25px;

border-radius:15px;

}

.crop-card{

width:18rem;

margin:auto;

margin-top:25px;

background:black;

color:white;

}

.language-switch a{

margin-right:5px;

}

.soil-section{

margin-top:40px;

text-align:center;

}

.analysis-box{

margin-top:20px;

background:white;

padding:15px;

border-radius:10px;

box-shadow:0px 2px 5px rgba(0,0,0,0.2);

}
